# Use root/example as user/password credentials
version: '3.1'

x-common-variables: &common-variables
  REACT_APP_SERVER_PORT: 8000
  REACT_APP_SERVER_URL: https://ci-cd-back-ynov-p2sqkb5mu-loise1s-projects.vercel.app/users/

services:

  db:
    image: mysql:latest
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - 3306:3306
    volumes:
      - ./sqlfiles/:/docker-entrypoint-initdb.d/
  adminer:
    depends_on:
      - db
    image: adminer
    restart: always
    ports:
      - 8080:8080
  server:
    image: nodejs
    build: .
    ports:
      - 8000:8000
    environment:
      - MYSQL_HOST=db
      - PORT=8000
    depends_on:
      - db
  react:
    image: react
    build: .
    ports:
      - 3000:3000
    environment:
      <<: *common-variables
    volumes:
      - .:/app
      - /app/node_modules
      - /app/server
    depends_on:
      - server

